<!-- Title: not-found.component
Author: Megan Walker
Date: 08-30-2023
Description: Not found component for Nodebucket app
Source: Professor Krasso-->

<div class="container mt-5 text-center" style="min-height: 600px;">
    <div class="row">
        <!-- first column-->
        <div class="col-md-6">
            <h1>404: Page Not Found</h1>
            <a routerLink="/">Go Home</a>
        </div>
        <!-- second column-->
        <div class="col-md-6 my-5">
            <img src="./assets/error-404.jpg" alt="404 Error" class="img-fluid rounded">
        </div>
    </div>
</div>