/* Title: styles
Author: Megan Walker
Date: 08-16-2023
Description: Styles css file for the application
Source: Professor Krasso, Angular.io */

:root {
  --hufflepuff-yellow: #eeba35;
  --hufflepuff-pale-yellow: #ffd25f;
  --hufflepuff-ltbrown: #7d6b5d;
  --hufflepuff-drkbrown: #372e29;
  --hufflepuff-black: #000000;
}


.navbar {
  background-color: var(--hufflepuff-black);
}
.hufflepuff-welcome {
  color: var(--hufflepuff-yellow);
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
ul {
  list-style: none !important;
}
.hufflepuff-body {
  background-color: var(--hufflepuff-ltbrown);
}
.hufflepuff-text {
  color: var(--hufflepuff-yellow);
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}
.bg-hufflepufflt {
  background-color: var(--hufflepuff-pale-yellow)!important;
  opacity: 0.8;
}
.hufflepuff-textblk strong {
  color: var(--hufflepuff-yellow);
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: larger;
}
.hufflepuff-textblk {
  color: var(--hufflepuff-black);
}
.hufflepuff-textdrk {
  color: var(--hufflepuff-drkbrown);
}
.sorting-background {
  background-color: var(--hufflepuff-ltbrown);
}
.border
{
  border: 1px solid var(--hufflepuff-black) !important;
  border-width: 2px !important;
  background-color: var(--hufflepuff-yellow);
  border-radius: 10px
}

.hufflepuff-a{
  color: var(--hufflepuff-drkbrown) !important;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.alert-info {
  background-color: var(--hufflepuff-yellow) !important;
  color: var(--hufflepuff-black) !important;
}

.btn-dark {
  background-color: var(--hufflepuff-black);
  color: var(--hufflepuff-yellow) !important;
}
.nav-link {
  color: var(--hufflepuff-yellow) !important;
}
.text-center {
  color: var(--hufflepuff-yellow) !important;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.input-group .btn
{
  background-color: var(--hufflepuff-yellow) !important;
  color: var(--hufflepuff-black) !important;
}

.text-underline-hover:hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.full-height {
  height: 100vh !important;
}
.link:hover {
  cursor: pointer;
}

/* mobile  */

@media (max-width: 576px) {
  .dropdown-menu {
    background-color: #212529 !important;
    color: var(--hufflepuff-yellow) !important;
  }

  .dropdown-item {
    color: var(--hufflepuff-yellow) !important;
  }

  .dropdown-item:hover {
    cursor: pointer;
  }

  .material-icons {
    color: var(--hufflepuff-yellow) !important;
  }
}
